ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  width: 150px;
}

ol.progtrckr li.progtrckr-doing {
  width: 150px;
}

ol.progtrckr li.progtrckr-done {
  width: 150px;
}

ol.progtrckr li .progtrckr-inner {
  width: 100%;
  display: block;
  position: relative;
}

ol.progtrckr li.first .progtrckr-inner {
  width: 50%;
  left: 50%;
}

ol.progtrckr li.last .progtrckr-inner {
  width: 50%;
}

ol.progtrckr li.progtrckr-todo .progtrckr-inner {
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing .progtrckr-inner {
  border-bottom: 4px solid #eed087;
}

ol.progtrckr li.progtrckr-done .progtrckr-inner {
  border-bottom: 4px solid #eed087;
}

/* ol.progtrckr li:after {
  content: "\00a0\00a0";
} */

ol.progtrckr li:before {
  position: relative;
  top: 40px;
  float: left;
  left: 50%;
  margin-left: -13px;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\25CF";
  color: silver;
  font-size: 40px;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\25CF";
  color: #eed087;
  font-size: 40px;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\25CF";
  color: #eed087;
  font-size: 40px;
}
